<main class="pb-5 pt-5">
<div class="text-center mt-5 mb-5">
  <h1>みんなの質問</h1>
</div>
<div class="card text-center mx-auto w-50">
<% @questions.each do |question| %>
  <div class="card-header">
  <% if question.bestanswer_id == nil %>
    <button type="button" class="btn btn-secondary btn-lg" disabled>未解決</button>
  <% else %>
    <button type="button" class="btn btn-primary btn-lg" disabled>解決済み</button>
  <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-text"><%= question.user.name %>さんの質問</h5>
    <h2 class="card-title">タイトル :　<%= question.title %></h2>
    <%= link_to("詳しく見る", question, {class: "btn btn-success text-light"}) %>
  </div>
  <div class="card-footer text-muted mb-5">
    <%= time_ago_in_words(question.created_at) %>前
  </div>
<% end %>
  </div>
  <div class="mt-5 mb-5">
  </div>
      <%= paginate @questions %>
  <div class="mt-5 mb-5">
  </div>
</main>
